.archive-plus, .archive-plus ul, #sidebar .sidebar-content .archive-plus ul {
  padding: 0;
  list-style: none;
  margin-top: 0;
}
.archive-plus {
  margin-bottom: 1em;
  margin-bottom: 1rem;
}
.archive-plus .active {
  color: gray;
}
.archive-plus li {
  border-bottom: 0;
  line-height: 2em;
  line-height: 2rem;
}
.archive-plus ul {
  margin-left: 1em;
  margin-left: 1rem;
}
.archive-plus .label ~ ul.last {
  margin-left: 2em;
  margin-left: 2rem;
}
.archive-plus ul label.arrows ~ ul {
  margin-left: 1.25em;
  margin-left: 1.25rem;
}
.archive-plus input, .archive-plus li ul {
  display: none;
}
.archive-plus label {
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  display: inline-block;
  height: 1em;
  height: 1rem;
  line-height: 1rem;
  margin-right: 1em;
  margin-right: 1rem;
  vertical-align: middle;
}
.archive-plus label:after {
  color: #1bb3e9;
  font-size: small;
  left: 100%;
  position: absolute;
  margin-left: .1em;
  margin-left: .1rem;
}
.archive-plus label:hover:after {
  color: #0e6e90;
}
.archive-plus li:hover > input ~ .label:after,
.archive-plus label:after {
  content: "\25B6";
}
.archive-plus li:hover > input:checked ~ .label:after,
.archive-plus li > input:checked ~ label:after {
  content: "\25BC";
}
.archive-plus label.counter:after {
  content: "";
}
.archive-plus input:checked ~ ul {
  display: block;
}
.archive-plus.last a:before,
.archive-plus ul.last a:before {
  content: "\25B6";
  font-size: small;
  margin-right: .35em;
  margin-right: .35rem;
}
